<h1>Add New Travel</h1>

<form ng-hide="vm.message" name="vm.jobTravel" ng-submit="vm.addTravel()">
  <div class="form-group">
    <label for="country">Country</label>
    <input
      type="country"
      class="form-control"
      id="country"
      placeholder="country"
      ng-model="vm.country"
      autocapitalize="none"
    />
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input
      type="city"
      class="form-control"
      id="city"
      placeholder="City"
      ng-model="vm.City"
      autocapitalize="none"
    />
  </div>
  <div class="form-group">
    <label for="popullation">Popullation</label>
    <input
      type="popullation"
      class="form-control"
      id="popullation"
      placeholder="popullation"
      ng-model="vm.popullation"
      autocapitalize="none"
    />
  </div>
  
  <button type="submit" class="btn btn-success">Add Job</button>
</form>
